.password-box{
    display: block;
    max-width: 400px;
    margin: 80px auto;
    /* background-color: #f3f3f3; */
    background-color: #e29e9e;
    padding: 20px;
    border-radius: 10px;
}
.password-box-head{
    text-align: center;
}